<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="base" annotation-config="true"/>

    <bean id="ball_1" class="base.decorations.Ball">
        <property name="color" value="RED"/>
        <property name="size" value="SMALL"/>
        <qualifier value="redBall"/>
    </bean>

    <bean id="ball_2" class="base.decorations.Ball">
        <property name="color" value="GOLD"/>
        <property name="size" value="MEDIUM"/>
    </bean>

    <bean id="bulb_1" class="base.decorations.Bulb">
        <property name="color" value="BLUE"/>
        <property name="size" value="SMALL"/>
        <qualifier value="blueBall"/>
    </bean>

</beans>